<table>
	<tr>
		<td><a href= "/"><%= image_tag"Technology_12.jpg"%></td>
		<td><h1>BCS Research</h1></td>
		<td>                                               </td>
		<td><b><%= link_to 'Sign Out', destroy_user_session_path, method: :delete%></b></td>
			
	</tr>
</table>

  	